# Logs
backend/.env
frontend/.env

backend/node_modules~
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/uploads/1776979489584.jpeg
backend/uploads/1776978697351.jpeg
.gitignore
.gitignore
backend/uploads/1776978726179.jpeg
backend/uploads/1776980513454.jpg
